{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block 'content' %}
    {% include 'navbar.html' %}
    <div class="container-fluid" style="max-width:1200px">
        <div class="row">
            <div class="col-lg-8">
                COntainer
            </div>
            <div class="col-lg-4">
                Widgets
            </div>
        </div>
    </div>
{% endblock %}

{% block 'style' %}
    {% render_bundle 'main' 'css' %}
{% endblock %}

{% block 'scripts' %}
    {% render_bundle 'main' 'js' %}
{% endblock %}

