[submodule "frontend/library/frontend/library/summernote-math"]
	path = frontend/library/frontend/library/summernote-math
	url = https://github.com/tylerecouture/summernote-math
[submodule "frontend/library/summernote-math"]
	path = frontend/library/summernote-math
	url = https://github.com/tylerecouture/summernote-math
