{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block 'content' %}
    {% include 'navbar.html' %}
    <div class="container-fluid mt-3" style="max-width:1200px">
        <div class="row">
            <div class="col-lg-8">
                <div class="card post-detail mb-3">
                    <div class="card-body">
                        {% if post %}
                        <h3>{{ post.title }}</h3>
                            <span class="text-muted">Author: {{ post.author }}. Created on: {{ post.created_on | date:'m-d-Y h:i A'}} <br/></span>
                            <div class="post-list-excerpt mb-3 mt-3">
                                {{ post.content|safe }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                Post not found ...!
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                Widgets
            </div>
        </div>
    </div>
{% endblock %}

{% block 'style' %}
    {% render_bundle 'main' 'css' %}
    <link rel="stylesheet" href="{% static 'katex/katex.min.css'%}">
{% endblock %}

{% block 'scripts' %}
    {% render_bundle 'main' 'js' %}
    <script src="{% static 'katex/katex.min.js'%}"></script>
{% endblock %}

