{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block 'content' %}
    {% include 'navbar.html' %}
    <div class="container-fluid mt-3" style="max-width:1200px">
        <div class="row">
            <div class="col-lg-8">
            {% if page_obj %}
                {% for post in page_obj %}
                    <div class="card mb-3 post-list-item">
                        <div class="card-body row">
                            <div class="col-md-12 mb-3">
                                <h3>{{ post.title }}</h3>
                                <span class="text-muted">Author: {{ post.author }}. Created on: {{ post.created_on | date:'m-d-Y h:i A'}} <br/></span>
                            </div>
                            <div class="col-md-4 " style="overflow:hidden">
                                <img src="{% firstof post.image 'https://dummyimage.com/600x400/000/fff' %}" alt="{{post.title}}" class="post-list-image"/>
                            </div>
                            <div class="col-md-8">
                                <div class="post-list-excerpt mb-3">
                                    {% firstof post.excerpt|safe post.content|safe %}
                                </div>
                                <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary post-list-title">Readmore...</a><br/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'blog/paginator.html' %}
            {% else %}
                <div class="card mb-3 post-list-item">
                    <div class="card-body">
                        <div class="alert alert-danger">
                            There is no post here ..!
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="col-lg-4">
                Widgets
            </div>
        </div>
    </div>
{% endblock %}

{% block 'style' %}
    {% render_bundle 'main' 'css' %}
    <link rel="stylesheet" href="{% static 'katex/katex.min.css'%}">
{% endblock %}

{% block 'scripts' %}
    {% render_bundle 'main' 'js' %}
    <script src="{% static 'katex/katex.min.js'%}"></script>
{% endblock %}
